@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Merriweather:wght@400;700&display=swap');
@import '~normalize.css';

:root {
  /* Fonts */
  --font-family-merriweather: 'Merriweather', serif;
  --font-family-golos-text: 'Golos Text', serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --font-size-base: 16px;

  --font-size-grand: 60px;
  --font-size-huge: 36px;
  --font-size-large: 28px;
  --font-size-big: 24px;
  --font-size-rare: 20px;
  --font-size-medium: 18px;

  --line-height-big: 1.35;
  --line-height-rare: 1.3;
  --line-height-medium: 1.2;
  --line-height-small: 1.1;

  /* Colors */
  --white: #ffffff;
  --chicago: #595653;
  --mine-shaft: #313131;
  --mine-shaft-bright: #1f1f1f;
  --flamingo: #f54932;
  --alto: #d0d0d0;
  --azure: #3057a2;
  --pearl-bush: #e9ded4;
  --saffron-mango: #fbce51;
  --link-color: var(--azure);

  /* Size */
  --width-container: 1262px;
  --padding-container: 20px;
}
/* Common */

html {
  font-size: var(--font-size-base);
  font-family: var(--font-family-golos-text);
  font-weight: var(--font-weight-regular);

  color: var(--chicago);

  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-medium);

  color: var(--link-color);

  text-decoration: none;
}

._container {
  max-width: var(--width-container);
  margin: 0 auto;
  padding-left: var(--padding-container);
  padding-right: var(--padding-container);
}

/* /Common */

/* Page */
.page {
  position: relative;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.page__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  flex-shrink: 0;
}

.page__main {
  flex-shrink: 1;
}
/* /Page */

/* Header */
.header {
  padding-top: 18px;
  padding-bottom: 18px;

  margin-bottom: 22px;

  background: rgba(255, 255, 255, 0);
}

.header__content {
  display: flex;
  align-items: center;
}
/* /Header */

/* Logo */
.logo {
  display: flex;
}

.logo__image {
  margin-right: 5px;
}

.logo__title {
  font-weight: var(--font-weight-bold);
  font-size: 0.9rem;
  line-height: 1.1;
}
/* /Logo */

/* Main */
.main {
  display: flex;
  flex-direction: column;
}

.main__preview {
  margin-bottom: 80px;
}
.main__stages {
  margin-bottom: 120px;
}
/* /Main */

/* Preview */
.preview {
  position: relative;

  min-height: 100vh;

  background-color: var(--pearl-bush);
  background-image: url('../assets/images/preview-background-sm.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.preview__content {
  flex-grow: 1;
}

.preview__text {
  margin-bottom: 32px;

  font-size: var(--font-size-medium);
}

.preview__section-title {
  margin-bottom: 24px;
}

.preview__button:not(:last-child) {
  margin-bottom: 14px;
}

.preview__ticker {
  position: absolute;
  bottom: 0px;
  
}
/* /Preview */

/* Section-title */
.section-title {
  margin: 0;
  line-height: 1.2;
  font-family: var(--font-family-merriweather);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-huge);

  color: var(--mine-shaft);

  text-transform: uppercase;

  white-space: pre-wrap;
}
/* /Section-title */

/* Button */
.button {
  width: 100%;
  line-height: 1.3;
  height: 47px;

  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-golos-text);

  border: none;
  border-radius: 66px;

  vertical-align: bottom;
  text-align: center;
  cursor: pointer;

  transition: background-color 0.3s, color 0.4s ease-in-out;
}

.button_dark {
  color: var(--white);
  background-color: var(--mine-shaft-bright);
}

.button_dark:hover {
  color: var(--mine-shaft-bright);
  background-color: var(--saffron-mango);
}

.button_white {
  border: none;
}

.button_white:hover {
  color: var(--white);
  background-color: var(--mine-shaft-bright);
}

.button_rounded {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  border: none;

  cursor: pointer;
}

.button_rounded:disabled {
  background-color: var(--alto);
  cursor: not-allowed;
}

/* /Button */

/* Ticker */
.ticker {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 1.1;
  font-family: var(--font-family-merriweather);

  text-wrap: nowrap;

  color: var(--white);
  background-color: var(--flamingo);

  overflow-x: hidden;
}
/* /Ticker */

/* Activity */
.activity {
  margin-bottom: 120px;
}
.activity__content {
  display: flex;
  flex-wrap: wrap;
}

.activity__row {
  display: flex;
  flex-wrap: wrap;
}

.activity__row:not(:last-child) {
  margin-bottom: 34px;
}

.activity__text {
  word-break: break-word;
}

.activity__row:nth-child(1) .activity__text:nth-child(1) {
  line-height: var(--line-height-big);
  margin-bottom: 24px;

  order: 0;
}

.activity__row:nth-child(1) .activity__text:nth-child(2) {
  order: 2;
}

.activity__row:nth-child(1) .activity__image {
  margin-bottom: 24.5px;

  order: 1;
}

.activity__row:nth-child(2) .activity__image {
  margin-bottom: 19px;
}

.activity__row:nth-child(2) .activity__text {
  margin-bottom: 44px;
}

.activity__image {
  max-width: 100%;
}

/* /Activity */

/* Text */
.text {
  padding: 0;
  margin: 0;
  line-height: 1.1;
  font-family: var(--font-family-merriweather);
  font-size: var(--font-size-large);

  text-transform: uppercase;
}

.text_red {
  color: var(--flamingo);
}

.text_hidden {
  display: none;
}

.text_through {
  text-decoration: line-through;
  text-decoration-color: var(--flamingo);
}
/* /Text */
/* Event-info */
.event-info {
  width: 100%;
  line-height: 1.2;
}

.event-info__header {
  margin-bottom: 12px;

  font-size: var(--font-size-rare);
  font-weight: 400;

  text-align: start;
  opacity: 0.7;
}

.event-info__value {
  margin-bottom: 16px;

  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-rare);
}

.event-info__row {
  display: flex;
  flex-direction: column;
}

.event-info__row:not(:last-child) {
  border-bottom: 2px solid var(--alto);
}
/* /Event-info */

/* Stages */
.stages {
}

.stages__section-title {
  margin-bottom: 12px;
}

.stages__sources {
  display: inline-block;
  line-height: 1.2;
  margin-bottom: 20px;
}

.stages__swiper {
  counter-reset: counter;
}
/* /Stages */

/* Swiper */
.swiper {
  position: relative;
}

.swiper__wrapper {
  display: flex;
  margin-bottom: 28px;

  overflow: hidden;
}

.swiper__slide {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.swiper__controls {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.swiper__pagination {
}

.swiper__button-prev {
}

.swiper__button-next {
}

.pagination_counter {
}
/* Swiper */

/* Pagination */
.pagination {
  display: flex;
  align-items: center;
}
.pagination__item {
  width: 10px;
  height: 10px;

  flex: none;
  flex-grow: 0;

  background: var(--alto);
  border-radius: 50%;

  order: 1;
}
.pagination__item:not(:last-child) {
  margin-right: 6px;
}
.pagination__item_active {
  background: var(--mine-shaft);
}
/* .Pagination */

/* Card */
.card {
  width: 100%;
  line-height: 1.2;
  padding-left: 20px;
  padding-right: 20px;

  font-family: var(--font-family-golos-text);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-medium);

  color: var(--mine-shaft);

  background-image: url('../assets/images/card-bg.png');
  background-size: cover;
}
/* TODO заменить все значения на переменные */
.card__text::before {
  content: counter(counter);

  width: 36px;
  height: 36px;

  margin-right: 16px;

  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;

  font-weight: var(--font-weight-semi-bold);

  border-radius: 50%;
  background-color: var(--white);

  counter-increment: counter;
}
.card__text {
  display: flex;
}
/* /Card */

/* Members */
.members {
}
.members__section-title {
  margin-bottom: 40px;
}
.members__swiper {
  margin-bottom: 100px;
}

/* /Members */

/* Member */
.member {
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.member__photo {
  margin-bottom: 28px;
}
.member__name {
  margin-bottom: 8px;
}
.member__merits {
  margin-bottom: 20px;
}
.member__link {
  font-weight: var(--font-weight-medium);

  border: 1px solid var(--azure);
  border-radius: 62px;
  padding: 12px;

  margin-bottom: 40px;

  transition: background-color 0.3s, color 0.4s ease-in-out;
}
.member__link:hover {
  color: var(--white);
  background-color: var(--azure);
}
/* Footer */
.footer {
  padding-top: 40px;
  padding-bottom: 60px;
  line-height: 1.2;
  background-color: var(--pearl-bush);
}
.footer__content {
  opacity: 0.6;
}
/* /Footer */

/* Media */
@media screen and (min-width: 768px) {
  /* Header */
  .header {
    padding-top: 26px;
    padding-bottom: 26px;

    margin-bottom: 36px;

    background: rgba(255, 255, 255, 0);
  }
  /* /Header */

  /* Preview */
  .preview {
    background-image: url('../assets/images/preview-background-mid.jpg');
  }
  .preview__text {
    text-align: center;
    margin-bottom: 40px;
    line-height: 1.3;
  }
  .preview__content {
    max-width: 542px;
  }
  .preview__button:not(:last-child) {
    margin-right: 12px;
    margin-bottom: 0;
  }
  /* /Preview */

  /* Button */
  .button {
    height: 72px;
    max-width: 263px;

    padding-left: 50px;
    padding-right: 50px;

    word-wrap: break-word;
  }

  .button_white {
    border: 2px solid var(--mine-shaft);
    background-color: rgba(255, 255, 255, 0);
  }
  /* /Button */

  /* Section title */
  .section-title {
    font-size: var(--font-size-grand);
  }
  /* /Section title */

  /* Activity */
  .activity__link {
    line-height: 1.2;
  }

  .activity__row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 34px;
  }

  .activity__row:nth-child(1) {
    margin-bottom: 64px;

    align-items: center;
  }

  .activity__row:nth-child(1) .activity__text:nth-child(1) {
    flex: 0 1 62.52%;
    margin-bottom: 0;
  }

  .activity__row:nth-child(1) .activity__text:nth-child(1) > .text_hidden {
    display: inline;
  }

  .activity__row:nth-child(1) .activity__text:nth-child(2) {
    display: none;
    margin-bottom: 0;
  }

  .activity__row:nth-child(1) .activity__image {
    flex: 0 1 32%;
    margin-bottom: 0;
  }

  .activity__row:nth-child(2) .activity__image {
    margin-right: 15px;
  }

  .activity__col {
    flex: 0 1 57.77%;
  }

  .activity__event-info {
    margin-bottom: 48px;
  }
  /* /Activity */

  /* Event-info */
  .event-info__row {
    flex-direction: row;
  }

  .event-info__header {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 0;

    flex: 0 1 43.47%;

    border-right: 2px solid var(--alto);
  }

  .event-info__value {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;

    margin-bottom: 0;
  }
  /* /Event-info */

  /* Text */
  .text {
    font-size: var(--font-size-huge);
  }
  /* /Text */

  /* Swiper */
  /* /Swiper */

  /* Stages */
  .stages__swiper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .stages__card:nth-child(3) {
    grid-row: span 2;
  }

  .stages__card:nth-child(7) {
    grid-column: span 2;
  }

  .stages__card:nth-child(7) > .card__text {
    max-width: 446px;
  }
  /* /Stages */

  /* Card */
  .card {
    padding: 20px;
  }
  /* /Card */

  /* Members */
  .members__swiper {
  }

  .members__swiper .swiper__wrapper {
    justify-content: space-between;
  }
  .members__swiper .swiper__slide {
    width: calc(33% - 9.25px);
  }
  .members__swiper .swiper__slide:not(:last-child) {
    margin-right: 20px;
  }

  .members__swiper .swiper__controls {
    position: absolute;
    top: -100px;
    right: 0;
  }
  /* /Members */
}

@media screen and (min-width: 1919px) {
  /* Preview */
  .preview {
    background-image: url('../assets/images/preview-background-big.jpg');
  }
  /* /Preview */
  .section-title {
    line-height: 1.1;
  }

}
/* /Media */
